<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chat App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/script.js"></script>
    </head>
    <body>
        <p> Server started... </p>
        <div id="room-container">
            <% Object.keys(rooms).forEach(room => { %>
                <div><%= room %></div>
                <a href="/<%= room %>">Join</a>
              <% }) %>
            <form action="/showroom" method="POST">
                <input name="show-room" type="text">
                <button type="submit"> Show rooms</button>
            </form>
        </div>
    </body>
</html>